.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

src/main/java/com/springboot/beispiele/springbootBeispiele/entities/QEStudent.java
src/main/java/com/springboot/beispiele/springbootBeispiele/entities/QENote.java
src/main/java/com/training/entities/training/swim/QIndoorSwim.java
src/main/java/com/training/entities/training/swim/QSwimmingPool.java
src/main/java/com/training/entities/training/swim/QSwimmingPlace.java
src/main/java/com/training/entities/training/user/QUser.java