<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{js/c3/c3.css}">
<link rel="stylesheet" th:href="@{js/datatimepicker/jquery.datetimepicker.min.css}">

</head>
<body>

	<!-- nav bar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">MyTraining</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Activities </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item">Sessions</a>
						<div class="dropdown-divider"></div>
						<a id="swimSectionMenuBtnId" class="dropdown-item">Swim</a> <a
							class="dropdown-item">Abs</a>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<!-- [END] nav bar -->

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" id="welcomeMessageContainerId">
		<div class="container">
			<h1 class="display-3" th:text="'Ciao ' + ${currentUser.name}"></h1>
			<p>will ich hier was schreiben?</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn
					more &raquo;</a>
			</p>
		</div>
	</div>

	<div class="container-fluid containerMargin">
		<div id="activityContainer">
			<div id="leftContainerId" class="leftContainer">
				<button type="button" class="btn btn-success btn-block"
					data-toggle="modal" onclick="initModalView()"  data-target="#selectActivityModal">New
					Activity</button>
				<button type="button" class="btn btn-success btn-block">Challenges</button>
				<button type="button" class="btn btn-success btn-block">Share</button>
				<button type="button" class="btn btn-success btn-block">Settings</button>
			</div>
			<div id="rightContainer" class="rightContainer">
				<div id="activityTabsId" class="activityTabs"></div>
				<div id="chart" class="chartSpace"></div>
				<div id="activityTable"></div>

			</div>
		</div>

		<!-- Modal window -->
		<div id="myTrainingModalShowIndorSwimInfo" class="modal" tabindex="-1"
			role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Modal body text goes here.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Save
							changes</button>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END Modal window -->

		<!-- Modal select activity -->
		<div class="modal fade" id="selectActivityModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Select
							activity</h5>
					</div>
					<div class="modal-body">
						<div class="progress progressMargin">
							<div id="progressBarActivity" class="progress-bar progress-bar-striped" role="progressbar"
								style="width: 10%" aria-valuenow="10" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
						<div id="selectActivityModalContent">
							<table style="width: 100%">
								<tr>
									<td><a id="1" class="clickableImg"> <img 
											class="selectActivityImg" alt=""
											th:src="@{/images/swimming-poll.png}">
									</a></td>
									<td><a id="2" class="clickableImg"> <img 
											class="selectActivityImg" alt=""
											th:src="@{/images/running.png}">
									</a></td>
									<td><a id="3" class="clickableImg"> <img 
											class="selectActivityImg" alt=""
											th:src="@{/images/cycling.png}">
									</a></td>
								</tr>
								<tr>
									<td><a id="4" class="clickableImg"> <img 
											class="selectActivityImg" alt=""
											th:src="@{/images/img-icon.svg}">
									</a></td>
									<td><a id="5" class="clickableImg"> <img 
											class="selectActivityImg" alt=""
											th:src="@{/images/img-icon.svg}">
									</a></td>
									<td><a id="6" class="clickableImg"> <img 
											class="selectActivityImg" alt=""
											th:src="@{/images/img-icon.svg}">
									</a></td>
								</tr>
								<tr>
									<td><a id="7" class="clickableImg"> <img 
											class="selectActivityImg" alt=""
											th:src="@{/images/img-icon.svg}">
									</a></td>
									<td><a id="8" class="clickableImg"> <img 
											class="selectActivityImg" alt=""
											th:src="@{/images/img-icon.svg}">
									</a></td>
									<td><a id="9" class="clickableImg"> <img 
											class="selectActivityImg" alt=""
											th:src="@{/images/img-icon.svg}">
									</a></td>
								</tr>
							</table>
						</div>
						<div id="generalInformationActivity">
						<form>
						
						  <div class="form-group">
						    <label for="datetimepicker">Date</label>
						    <input type="text" class="form-control" id="datetimepicker" placeholder="Enter the date">
						    <small id="inputDateActivityHelp" class="form-text text-muted">Enter the date when you did the activity.</small>
						  </div>
						  <div class="form-group">
						    <label for="inputDurationActivity">Duration</label>
						    <input type="text" class="form-control" id="inputDurationActivity" placeholder="Enter the duration">
						    <small id="inputDurationActivityHelp" class="form-text text-muted">Enter the duration in minutes.</small>
						  </div>

						</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button" id="newActivityNextButton" class="btn btn-primary disabled">Next</button>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- /.container -->

	<script th:src="@{js/jquery/jquery-3.3.1.min.js}"></script>
	<script th:src="@{js/popper/popper.min.js}"></script>
	<script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{js/d3/d3.min.js}"></script>
	<script th:src="@{js/c3/c3.min.js}"></script>
	<script th:src="@{js/validatejs/validate.min.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/swimmController.js}"></script>
	<script th:src="@{js/activityController.js}"></script>
	<script th:src="@{js/datatimepicker/jquery.datetimepicker.full.min.js}"></script>
	
	<script type="text/javascript">
	jQuery('#datetimepicker').datetimepicker({
		format:'Y-m-d H:i'
	});
	</script>


</body>
</html>
